<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Qtrip_End_To_End_Flow">
   <test name="testCase1">
     <groups>
       <run>
         <include name="Login Flow" />
         <include name="Search and Filter flow"/>
         <include name="Booking and Cancellation Flow"/>
         <include name="Reliability Flow"/>
       </run>
     </groups>
     <classes>
        <class name="qtriptest.tests.testCase_01"/>   
        <class name="qtriptest.tests.testCase_02"/> 
        <class name="qtriptest.tests.testCase_03"/>
       <class name="qtriptest.tests.testCase_04"/>
     </classes>
   </test>
</suite>